.git
.gitignore
.dockerignore
docker-compose.yml
Dockerfile
.env
.env.local
.env.*.local
.idea
.vscode
*.pyc
__pycache__
venv/
.venv/
*.egg-info
.DS_Store
*.sqlite3
logs/
staticfiles/
media/
*.md
.gitattributes
.editorconfig
*.yml
*.yaml
node_modules/
